*.swp
~*
*~

# Jekyll-related stuff
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

# Caching and other residual files
_site
.ipynb_checkpoints/
__pycache__
Tex/
manim/**
!manim/videos/grad_desc/480p15/

# Local Netlify folder
.netlify
.tweet-cache

# IDE files
.idea
.DS_Store
.vscode



